@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Montserrat&display=swap");

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

h1 {
    font-family: "Catamaran", sans-serif;
    font-size: 80px;
    margin: 20px 0px;
    line-height: 1;
}

h2 {
  font-family: "Catamaran", sans-serif;
  font-size: 40px;
  letter-spacing: 2px;
  color: #0d1f51;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    letter-spacing: 2px;
    color: #0d1f51;
}

.desktopnavContainer a {
    padding-left: 32px;
    text-decoration: none;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.76);
    transition: 0.3s;
}

.desktopnavContainer a:last-child {
    padding-right: 32px;
}

.desktopNav a:hover {
    color: rgb(255, 255, 255);
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    background-color: rgb(13, 31, 81);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 160px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.822);
    display: block;
    transition: 0.3s;
    text-align: center;
}

.sidenav a:hover {
    color: #ffffff;
}

.sidenav .closebtn {
    padding: 0px;
    position: absolute;
    top: 25px;
    right: 20px;
    font-size: 40px;
    margin-left: 50px;
}

.desktopnavContainer {
    overflow: hidden;
}

.desktopNav {
    float: right;
}

.burger {
    display: none;
}

.desktopnavContainer {
    max-width: 1168px;
    margin: 0 auto;
}

.fullwidthNav {
    background-color: rgb(13, 31, 81);
    padding: 30px 0px;
    position: fixed;
    top: 0;
    width: 100%;
}

@media screen and (max-width: 700px) {
    .burger {
        display: block;
        float: right;
        margin: 0 20px;
    }

    .desktopNav {
        display: none;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.HeroSection {
    margin-top: 84px;
    background-image: url("assets/herosection.png");
    background-size: cover;
    height: 700px;
}

.HeroText {
    display: block;
    max-width: 1108px;
    margin: 0px auto;
    padding: 84px 24px;
}

.HeroText > h1 {
    color: #fff;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.HeroText > h3 {
    color: #fff;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 650px) {
    .HeroText h3 {
        max-width: 600px;
    }
}

@media screen and (max-width: 600px) {
    .HeroText {
        padding-top: 40px;
    }
}

.button {
    margin: 30px 0;
    cursor: pointer;
    background-color: #547be8;
    padding: 20px;
    width: fit-content;
    border-radius: 4px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    transition: 0.3s;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.button:hover {
    background-color: rgb(13, 31, 81);
    transition: 0.3s;
    letter-spacing: 1px;
}

.SectionContainer {
    max-width: 1108px;
    margin: 0px auto;
    padding: 84px 24px;
}

.LeftAlignedImg {
    max-width: 600px;
    display: block;
    width: 40%;
    background-image: url("assets/whychooseus.png");
}

.ambassadorIcons {
    width: 80px;
    height: 80px;
}

.founderstory {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1108px;
    margin: 0px auto;
    padding: 0px 24px;
}

.founderstoryImgMobile {
    display: none;
}

.founderstoryImg {
    display: block;
    max-width: 500px;
}

@media only screen and (max-width: 1094px) {
    .founderstoryImg2 {
        display: none;
        margin-bottom: 20px;
    }

    .founderstoryImgMobile {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        margin-bottom: 20px;
    }
    .founderstoryImg {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
      margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1094px) {
    .parent {
        display: block;
    }
    .ambassadorIcons {
        margin-top: 30px;
    }

    .founderstory {
        display: block;
    }
}

.slider-wrapper {
  width:100%;
  overflow: hidden;
  padding: 25px 20px 20px;
  white-space: wrap;
  max-width: 1108px;
  margin: 20px auto;
  padding: 25px 24px;

}

h4 {
  text-align: center;
}

p2 {
  display: inline-block;
  text-align: center;
  font-size: 14px;
}

.prev {
  color: rgba(149, 157, 165, 0.5);
  position: absolute;
  top: 45%;
  left: -10px;
  font-size: 1.5em;
  transition: 0.3s;
}

.prev:hover{
  cursor: pointer;
    color: black;
    transition: 0.3s;
}

.next {
  color: rgba(149, 157, 165, 0.5);
  position: absolute;
  top: 45%;
  right: 10px;
  font-size: 1.5em;
  transition: 0.3s;
}
.next:hover {
  cursor: pointer;
  color: black;
  transition: 0.3s;
}

.prev2 {
  color: rgba(149, 157, 165, 0.5);
  position: absolute;
  top: 45%;
  left: -10px;
  font-size: 1.5em;
  transition: 0.3s;
}

.prev2:hover{
  cursor: pointer;
    color: black;
    transition: 0.3s;
}

.next2 {
  color: rgba(149, 157, 165, 0.5);
  position: absolute;
  top: 45%;
  right: 10px;
  font-size: 1.5em;
  transition: 0.3s;
}
.next2:hover {
  cursor: pointer;
  color: black;
  transition: 0.3s;
}

.fact {
  vertical-align: top;
  display: inline-block;
  height: auto;
  width: 200px;
  background-color: white;
  padding: 20px;
  margin: 0px 25px 0px 5px;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.fact > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding-bottom: 5px;
}

.SectionHeader {
  text-align: center;
  margin-top:40px;
}
